#####################################################################
#	Conditional Homing
#####################################################################

[gcode_macro CG28]
description: Conditional homing - only run if not homed already
gcode:
    {% if "x" not in printer.toolhead.homed_axes or "y" not in printer.toolhead.homed_axes or "z" not in printer.toolhead.homed_axes %}
    G28
    {% endif %}
